.foodItemContainer {
  background-color: #faf8f8;
}

.foodItemImg {
  height: 100%;
}

.foodItemDescription {
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  white-space: pre-wrap;
}

.foodItemName {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.foodItemImgtag{
  width:100%;
  height: 100%;
  object-fit: cover;
}