.dropdownCategory{
    outline: none;
}

.categoryContainer{
    max-height: 60vh;
}
.loginFormBlock{
    min-height: 60vh;
  }

.foodItemImgPreview{
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 150px; 
  }