.link {
  background-color: red;
}

.dashboardLayoutLeftNavLinks.open {
  background-color: #004466;
  color: #98c1d9;
}

.dashboardLayoutlink {
  width: 10%;
  border-bottom: 1px dotted black;
}

.dashboardLayoutlink.open {
  width: auto;
  border-bottom: none;
}

.fa-bars {
  color: #98c1d9;
  transition: all 200ms ease;
}

.fa-bars.open {
  color: #004466;
}


.dashboardLayoutLeftNavWrapper{
  background-color: red;
}


.dashboardLayoutBlock{
  background-color: blue;
}

.dashboardLayoutRightWrapper{
  background-color: yellow;
}