.goToLoginBtn {
  width: max-content;
  cursor: pointer;
  transition: all 200ms ease-in;
  color: #ee6c4d;
  font-weight: 600;
}

.goToLoginBtn:hover {
  background-color: #ee6c4d;
  color: #ffff;
}

.logoTxt {
  color: #004466;
}
